service: agentic-shareables-api
useDotenv: true

plugins:
  - serverless-esbuild
  - serverless-offline

custom:
  esbuild:
    bundle: true
    external: []
    minify: true
    target: node22
    platform: node
    format: esm
    banner:
      js: 'import { createRequire } from "module"; const require = createRequire(import.meta.url);'
    keepNames: false
    sourcesContent: false
    sourcemap: false # do not create source maps, cleaner and faster prod setup
    watch: true # usefull for dev, harmless for prod

  serverless-offline:
    host: 127.0.0.1
    httpPort: ${env:OFFLINE_HTTP_PORT, 6000}
    #websocketPort: ${env:OFFLINE_WS_PORT, 6001}

  logLevel:
    dev: 'debug'
    prod: 'warn'

provider:
  name: aws
  runtime: nodejs22.x
  region: us-east-1
  httpApi:
    cors:
      allowedOrigins:
        - '*'
      allowedHeaders:
        - Content-Type
        - Authorization
        - X-Amz-Date
        - X-Api-Key
        - X-Amz-Security-Token
        - X-Amz-User-Agent
      allowedMethods:
        - GET
        - POST
        - PUT
        - DELETE
        - OPTIONS
  environment:
    AGENTICFLO_BASE_URL: ${env:AGENTICFLO_BASE_URL}
    AGENTICFLO_REQUEST_TIMEOUT: ${env:AGENTICFLO_REQUEST_TIMEOUT, 10000}
    AGENTICFLO_BACKPLANE_TOKEN: ${env:AGENTICFLO_BACKPLANE_TOKEN}
    AGENTICFLO_TLS_INSECURE: ${env:AGENTICFLO_TLS_INSECURE}
    CLIENT_AUTH_SECRET: ${env:CLIENT_AUTH_SECRET}
    DEFAULT_TRANSIENT_TTL: ${env:DEFAULT_TRANSIENT_TTL}
    IS_OFFLINE: ${env:IS_OFFLINE, 'false'}
    LOG_LEVEL: ${self:custom.logLevel.${sls:stage}, 'info'}
    STAGE: ${sls:stage, 'dev'}
    OFFLINE_HTTP_PORT: ${env:OFFLINE_HTTP_PORT, 6000}
    #OFFLINE_WS_PORT: ${env:OFFLINE_WS_PORT, 6001}

functions:
  httpRouter:
    handler: src/http-router.handler
    timeout: 60
    events:
      # HTTP API
      - httpApi:
          path: /resource/get # To obtain shared resource details
          method: POST
      - httpApi:
          path: /webchat/get-history # To get webchat initialization: history, pending tasks...
          method: POST
      - httpApi:
          path: /webchat/send # To post webchat actions, send message, finish conversation, feedback...
          method: POST
      - httpApi:
          path: /upload/get-link # To get an upload link
          method: POST
      - httpApi:
          path: /upload/confirm # To confirm an uploaded file
          method: POST

      # WebSocket
      #- websocket:
      #    route: $connect
      #- websocket:
      #    route: $disconnect
      #- websocket:
      #    route: $default
